$theme_bg: #0F1419;
$theme_def: #E6E1CF;
$theme_def_alt: #FFEE99;
$theme_def_fade: #5C6773;
$theme_pri: #36A3D9;
$theme_sec: #FF7733;
$theme_ter: #B8CC52;
$theme_alert: #FF3333;

* {
  all: unset;
  font: {
    family: Fira Code,Symbols Nerd Font Mono;
    size: 15px;
    weight: 600;
  }
}

tooltip, .popup {
  background: $theme_bg;
  color: $theme_def;
  border-radius: 5px;
  > * {
    padding: 5px;
  }
}

.emoji {
  font: {
    family: Symbols Nerd Font;
    size: 17px
  }
}

.pill {
  padding: {
    left: 9px;
    right: 9px;
  }
  border-radius: 20px;
}
