
@define-color theme_bg #0F1419;
@define-color theme_def #E6E1CF;
@define-color theme_def_alt #FFEE99;
@define-color theme_def_fade #5C6773;
@define-color theme_pri #36A3D9;
@define-color theme_sec #FF7733;
@define-color theme_ter #B8CC52;
@define-color theme_alert #FF3333;

* {
	font-family: FiraCodeNerdFont,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	/* I don't no why, but it works */
	margin: -1px 0;
}

window#waybar {
	background-color: @theme_bg;
	color: @theme_def;
	transition-property: background-color;
	transition-duration: .5s;
}

.modules-left {
	padding: 0 0 0 4px;
}

.modules-right {
	padding: 0 4px 0 0;
}

#workspaces button {
	padding: 0 3px;
	color: @theme_def_fade;
	background-color: transparent;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	border: none;
	padding: 0 4px;
	background: @theme_def_fade;
	color: @theme_bg;
}

#workspaces button.active {
	background-color: @theme_def_alt;
	color: @theme_bg;
}

#workspaces button.urgent {
	background-color: @theme_alert;
	color: @theme_def;
}

#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#custom-media,
#mpd {
	padding: 0 7px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery {
	background-color: @theme_def;
	color: @theme_bg;
}

#battery.charging, #battery.plugged {
	background-color: @theme_sec;
	color: @theme_bg;
}

@keyframes blink {
	to {
		background-color: @theme_bg;
	}
}

#battery.critical:not(.charging) {
	background-color: @theme_alert;
	color: @theme_def;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu {
	background-color: @theme_ter;
	color: @theme_bg;
}

#network {
	background-color: @theme_pri;
	color: @theme_bg;
}

#network.disconnected {
	background-color: @theme_alert;
}

#wireplumber,
#pulseaudio {
	background-color: @theme_def_alt;
	color: @theme_bg;
}

#wireplumber.muted,
#pulseaudio.muted {
	background-color: @theme_def_fade;
	color: @theme_def;
}

#custom-media {
	background-color: @theme_pri;
	color: @theme_bg;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: @theme_ter;
	color: @theme_bg;
}

#tray {
	background-color: transparent;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @theme_alert;
}
